* {
    font-family: 'Karla', sans-serif;
    text-decoration: none;
}

body {
    background-color: #fdfbee;
}

h1, h2, .heading-container h3 {
    text-align: center;
}

.heading-container {
    background-color: #bce3e7;
    padding: 10px;
}

.heading-container h1 {
    margin-bottom: 0;
}

.heading-container h3 {
    margin-top: 5px;
}

.img-btn {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.cuisines {
    margin: 50px auto;
}

.recipes {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin: 25px auto;
}

.recipe {
    border: 3px solid black;
    border-radius: 25px;
    margin: auto 25px;
    padding: 13px;
}

.recipe:hover {
    box-shadow: 4px 4px rgb(114, 114, 114);
    border-color: #50b5c0;
}

.food-name {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

/* Design for Recipe Page */
.recipe-title {
    margin: 50px auto 0 auto;
}

.cuisine-type {
    text-align: center;
    margin: 0 auto 50px auto;
}

.img-desc-container, .info-container{
    margin: 20px;
    display: grid;
    grid-template-rows: auto;
}

.food-img {
    grid-column: 1 / span 1;
    width: 500px;
    height: auto;
    border: 3px solid black;
    border-radius: 25px;
}

.food-desc {
    grid-column: 2 / span 8;
    border: 2px dotted #50b5c0;
    border-radius: 25px;
    padding: 20px;
    margin-left: 30px;
}

.food-desc p {
    font-size: 20px;
    padding: 0;
    /* max-width: 1200px; */
}

.info-container {
    grid-template-columns: auto auto auto;
    margin: auto 10px;
}

.spec-container {
    border: 2px dotted #50b5c0;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
}

.recipe-ingredients, .recipe-info, .recipe-steps {
    font-size: 18px;
}

.cont-title {
    font-size: 20px;
    margin: 10px auto;
}

ol {
    margin: 10px auto;
}

li {
    padding: 5px;
}
